.input-form {
	width: 50%;
	display: inline-block;
	float: left;
}

.input-form-label {
	margin: 10px;
	font-weight: 700;
	display: inline-block;
	width: 125px;
}

.input-form-label-checkbox {
	margin-right: 10px;
	font-weight: 700;
	display: inline-block;
	width: 180px;
}

.input-form-label--wrapper {
	display: inline-block;
	width: 250px;
	margin-top: 10px;
	margin-left: 10px;
}

.input-form-input--wrapper {
	margin: 10px;
}

.input-form-submit {
	width: 100px;
	height: 50px;
	font-size: 20px;
	margin-bottom: 10px;
}

.input-form-input {
	width: 200px;
}

.input-form-button-wrapper {
	width: 125px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px
}

.submission-error {
	word-wrap: break-word;
	display: inline-block;
	width: 200px;
	height: 100%;
	vertical-align: middle;
	color: red;
}